<div class="row">
        <!-- sp16 -->
            <div class="well col-sm-3">
                    <ul>
                        <li ng-repeat="items in serPack.sp16">
                            <h5>
                                {{serPack.sp16[$index].name}}
                            </h5>
                            <div>
                                <a class="" ng-href="{{serPack.sp16[$index].mainpath}}" target="_blank">
                                    {{serPack.sp16[$index].name}}
                                </a>
                            </div>
                            <div>
                                <a class="" ng-href="{{serPack.sp16[$index].hotfixpath}}" target="_blank">
                                    {{serPack.sp16[$index].hotfixLabel}}
                                </a>
                            </div>
                            <div>
                                <a class="" ng-href="{{serPack.sp16[$index].DedupBBguide}}" target="_blank">
                                    {{serPack.sp16[$index].dedupLabel}}
                                </a>
                            </div>
                            <div>
                                <a class="" ng-href="{{serPack.sp16[$index].sysReq}}" target="_blank">
                                    {{serPack.sp16[$index].sysReqname}}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
        <!-- sp15 -->
        <div class="well col-sm-3">
            <ul>
                <li ng-repeat="items in serPack.sp15">
                    <h5>
                        {{serPack.sp15[$index].name}}
                    </h5>
                    <div>
                        <a class="" ng-href="{{serPack.sp15[$index].mainpath}}" target="_blank">
                            {{serPack.sp15[$index].name}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp15[$index].hotfixpath}}" target="_blank">
                            {{serPack.sp15[$index].hotfixLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp15[$index].DedupBBguide}}" target="_blank">
                            {{serPack.sp15[$index].dedupLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp15[$index].sysReq}}" target="_blank">
                            {{serPack.sp15[$index].sysReqname}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- sp14 -->
        <div class="well col-sm-3">
            <ul>
                <li ng-repeat="items in serPack.sp14">
                    <h5>
                        {{serPack.sp14[$index].name}}
                    </h5>
                    <div>
                        <a class="" ng-href="{{serPack.sp14[$index].mainpath}}" target="_blank">
                            {{serPack.sp14[$index].name}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp14[$index].hotfixpath}}" target="_blank">
                            {{serPack.sp14[$index].hotfixLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp14[$index].DedupBBguide}}" target="_blank">
                            {{serPack.sp14[$index].dedupLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp14[$index].sysReq}}" target="_blank">
                            {{serPack.sp14[$index].sysReqname}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Customer Engineering: -->
        <div class="well col-sm-3">
            <ul>
                <li ng-repeat="items in serPack.sp13">
                    <h5>
                        {{serPack.sp13[$index].name}}
                    </h5>
                    <div>
                        <a class="" ng-href="{{serPack.sp13[$index].mainpath}}" target="_blank">
                            {{serPack.sp13[$index].name}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp13[$index].hotfixpath}}" target="_blank">
                            {{serPack.sp13[$index].hotfixLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp13[$index].DedupBBguide}}" target="_blank">
                            {{serPack.sp13[$index].dedupLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp13[$index].sysReq}}" target="_blank">
                            {{serPack.sp13[$index].sysReqname}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="well col-sm-3">
            <ul>
                <li ng-repeat="items in serPack.sp12">
                    <h5>
                        {{serPack.sp12[$index].name}}
                    </h5>
                    <div>
                        <a class="" ng-href="{{serPack.sp12[$index].mainpath}}" target="_blank">
                            {{serPack.sp12[$index].name}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp12[$index].hotfixpath}}" target="_blank">
                            {{serPack.sp12[$index].hotfixLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp12[$index].DedupBBguide}}" target="_blank">
                            {{serPack.sp12[$index].dedupLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp12[$index].sysReq}}" target="_blank">
                            {{serPack.sp12[$index].sysReqname}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                <li ng-repeat="items in serPack.sp11">
                    <h5>
                        {{serPack.sp11[$index].name}}
                    </h5>
                    <div>
                        <a class="" ng-href="{{serPack.sp11[$index].mainpath}}" target="_blank">
                            {{serPack.sp11[$index].name}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp11[$index].hotfixpath}}" target="_blank">
                            {{serPack.sp11[$index].hotfixLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp11[$index].DedupBBguide}}" target="_blank">
                            {{serPack.sp11[$index].dedupLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp11[$index].sysReq}}" target="_blank">
                            {{serPack.sp11[$index].sysReqname}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                <li ng-repeat="items in serPack.sp10">
                    <h5>
                        {{serPack.sp10[$index].name}}
                    </h5>
                    <div>
                        <a class="" ng-href="{{serPack.sp10[$index].mainpath}}" target="_blank">
                            {{serPack.sp10[$index].name}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp10[$index].hotfixpath}}" target="_blank">
                            {{serPack.sp10[$index].hotfixLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp10[$index].DedupBBguide}}" target="_blank">
                            {{serPack.sp10[$index].dedupLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp10[$index].sysReq}}" target="_blank">
                            {{serPack.sp10[$index].sysReqname}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Third-Party Sites and Tools: -->
        <div class="col-sm-3">
            <ul>
                <li ng-repeat="items in serPack.sp9">
                    <h5>
                        {{serPack.sp9[$index].name}}
                    </h5>
                    <div>
                        <a class="" ng-href="{{serPack.sp9[$index].mainpath}}" target="_blank">
                            {{serPack.sp9[$index].name}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp9[$index].hotfixpath}}" target="_blank">
                            {{serPack.sp9[$index].hotfixLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp9[$index].DedupBBguide}}" target="_blank">
                            {{serPack.sp9[$index].dedupLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp9[$index].sysReq}}" target="_blank">
                            {{serPack.sp9[$index].sysReqname}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    
    </div>
    <div class="row">
        <div class="col-sm-3">
            <ul>
                <li ng-repeat="items in serPack.sp8">
                    <h5>
                        {{serPack.sp8[$index].name}}
                    </h5>
                    <div>
                        <a class="" ng-href="{{serPack.sp8[$index].mainpath}}" target="_blank">
                            {{serPack.sp8[$index].name}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp8[$index].hotfixpath}}" target="_blank">
                            {{serPack.sp8[$index].hotfixLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp8[$index].DedupBBguide}}" target="_blank">
                            {{serPack.sp8[$index].dedupLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp8[$index].sysReq}}" target="_blank">
                            {{serPack.sp8[$index].sysReqname}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul>
                <li ng-repeat="items in serPack.sp7">
                    <h5>
                        {{serPack.sp7[$index].name}}
                    </h5>
                    <div>
                        <a class="" ng-href="{{serPack.sp7[$index].mainpath}}" target="_blank">
                            {{serPack.sp7[$index].name}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp7[$index].hotfixpath}}" target="_blank">
                            {{serPack.sp7[$index].hotfixLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp7[$index].DedupBBguide}}" target="_blank">
                            {{serPack.sp7[$index].dedupLabel}}
                        </a>
                    </div>
                    <div>
                        <a class="" ng-href="{{serPack.sp7[$index].sysReq}}" target="_blank">
                            {{serPack.sp7[$index].sysReqname}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
                <ul>
                    <li ng-repeat="items in serPack.sp6">
                        <h5>
                            {{serPack.sp6[$index].name}}
                        </h5>
                        <div>
                            <a class="" ng-href="{{serPack.sp6[$index].mainpath}}" target="_blank">
                                {{serPack.sp6[$index].name}}
                            </a>
                        </div>
                        <div>
                            <a class="" ng-href="{{serPack.sp6[$index].hotfixpath}}" target="_blank">
                                {{serPack.sp6[$index].hotfixLabel}}
                            </a>
                        </div>
                        <div>
                            <a class="" ng-href="{{serPack.sp6[$index].DedupBBguide}}" target="_blank">
                                {{serPack.sp6[$index].dedupLabel}}
                            </a>
                        </div>
                        <div>
                            <a class="" ng-href="{{serPack.sp6[$index].sysReq}}" target="_blank">
                                {{serPack.sp6[$index].sysReqname}}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
    </div>