body 		{
	  			background: #ADA996;  /* fallback for old browsers */
				background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

				height: 100%;
				margin: 0;
				position: relative; 
				min-height: 100%; 
				top: 0px;
			}
h1			{ margin: 0px; }
h2			{ font-size : 9pt; font-weight : none; color: #333333; margin: 0px; }
h6.lsmodal	{ padding-top: 10px; padding-bottom: 0px; margin: 0px }
small		{ font-size : 8pt; }
ul  		{list-style-type:none;}	

button.docNav {width: 20%}
button.client, button.unix, button.msg, button.mm, button.server, button.logfiles, input.logfiles {display:none;}

a.docNav	{width: 20%}
a.client, a.msg, a.mm, a.server, a.unix	{display:none;}

div.teams 	{width: 98%; margin: 0px auto; }
div.teamNav	{width: 100%}
div.leftNav	{width: 75%; margin-left: 50px; margin-right: 50px}

span.MsoHyperlink {color:red;text-decoration:none;text-underline:none;text-decoration:none;text-line-through:none}

.explorer	{padding: 0; margin: 0 auto; width: 100%}
.navbg-dark	{background-color: #00384F;}
.buffer 	{margin-left: 50px;}
.firstrow	{align-self: center;height: 25px;margin-left: 15px; padding-right: 0px}

.heading	{padding: 0;  margin: 0;}
.navlogo	{padding: 0 10px}
.fa-plus-square, .fa-clipboard-check, .fa-clipboard-list	{float: right;}

.btn-teams 	{color: white; background-color: steelblue;}
.btn-client	{background-color: steelblue; border-color: steelblue}
.btn-input	{color: #7C8084}

.cvbutton	{color: white;background-color: steelblue; border-color: steelblue}
.cvfooter 	{width: 50 %;float: left}

.tooltip 	{
    			position: relative;
    			display: inline-block;
			}

.tooltip .tooltiptext {
    		visibility: hidden;
    		width: 140px;
    		background-color: #555;
    		color: #fff;
    		text-align: center;
    		border-radius: 6px;
    		padding: 5px;
    		position: absolute;
    		z-index: 1;
    		bottom: 150%;
    		left: 50%;
		    margin-left: -75px;
		    opacity: 0;
		    transition: opacity 0.3s;
		}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#cvlogo		{height: 36px; width: 36px}
