<!-- Right Hand Buttons  -->
<div class="rounded container">
    <h4>
        Log Shares
        <i class="fas fa-share-alt rightNav">
        </i>
    </h4>
    <div class="btn-group-vertical rounded teams">
        <!-- Client Members -->
        <button class="btn cvbutton btn-lg btn-client">
            Client
            <i class="far fa-plus-square" id="client" style="padding-top: 6px">
            </i>
        </button>
        
        <!-- MM logs -->
        <button class="btn btn-teams btn-lg btn-mm">
            MM
            <i class="far fa-plus-square" id="mm" style="padding-top: 6px">
            </i>
        </button>
       
        <!-- MSG Members -->
        <button class="btn btn-teams btn-lg btn-msg">
            MSG
            <i class="far fa-plus-square" id="msg" style="padding-top: 6px">
            </i>
        </button>
        <!-- Server Members -->
        <button class="btn btn-teams btn-lg btn-server">
            Server
            <i class="far fa-plus-square" id="server" style="padding-top: 6px">
            </i>
        </button>
       
        <!-- Unix Members -->
        <button class="btn btn-teams btn-lg btn-unix">
            Unix
            <i class="far fa-plus-square" id="unix" style="padding-top: 6px">
            </i>
        </button>
        <button class="btn btn-secondary unix cvlogs" name="file://THADLEY800/Logs" title="\\thadley800\Logs">
            Thomas Hadley
        </button>
        <button class="btn btn-secondary unix cvlogs" name="file://Rtrione800g2/cvlogs" title="\\Rtrione800g2\cvlogs">
            Rick Trione
        </button>
        <button class="btn btn-secondary unix cvlogs" name="file://MREDDY800/Mahender_Logs" title="\\MREDDY800\Mahender_Logs">
            Mahender Reddy
        </button>
        <button class="btn btn-secondary unix disabled" name="file://v/Logs" title="\\thadley800\Logs">
            Kerwin Rodgers
        </button>
    </div>
</div>
