<!-- Right Hand Buttons  -->
<div class="rounded container">
    <h4>
    Log Shares
    <i class="fas fa-share-alt rightNav">
    </i>
    </h4>
    <div class="btn-group-vertical rounded teams">
        <!-- Client Members -->
        <button class="btn cvbutton btn-lg btn-client" id="client">Client
        </button>
        <label class="btn btn-secondary client cvlogs" name="file://mmancino840/Logs" title="\\mmancino840\Logs">Michael Mancino</label>
        <label class="btn btn-secondary client cvlogs" name="file://tdellorusso/Logs" title="\\tdellorusso\Logs">Thomas Dello Russo</label>
        <label class="btn btn-secondary client cvlogs" name="file://tarunkumar/Logs" title="\\tarunkumar\Logs">Tarun Kumar Jain</label>
        <label class="btn btn-secondary client cvlogs" name="file://jkrol/Logs" title="\\jkrol\Logs">Jason Krol</label>
        <label class="btn btn-secondary client cvlogs" name="file://WSHERIDAN/Logs" title="\\WSHERIDAN\Logs">William "Liam" Sheridan</label>
        <label class="btn btn-secondary client cvlogs" name="file://mwhitman/Logs" title="\\mwhitman\Logs">Mike Whitman</label>
        <label class="btn btn-secondary client cvlogs" name="file://cstogsdill800/Logs" title="\\cstogsdill800\Logs">Chris Stogsdill</label>
        <label class="btn btn-secondary client cvlogs" name="file://wesyoung/Logs" title="\\wesyoung\Logs">Wes Young</label>
        <label class="btn btn-secondary client cvlogs" name="file://jpolicastro/Logs" title="\\jpolicastro\Logs">James Policastro</label>
        <label class="btn btn-secondary client cvlogs" name="file://dwhite800/Logs" title="\\dwhite800\Logs">Daniel White</label>
        <!-- MM logs -->
        <button class="btn btn-teams btn-lg btn-mm" id="mm">MM
        
        </button>
        <label class="btn btn-secondary mm cvlogs" name="file://PBATTIFORA/Logs" title="\\PBATTIFORA\Logs">Paolo Battifora</label>
        <label class="btn btn-secondary mm cvlogs" name="file://mcozzi/Logs" title="\\mcozzi\logs">Michael Cozzi</label>
        <label class="btn btn-secondary mm cvlogs" name="file://CMCCARTHY/Logs" title="\\CMCCARTHY\Logs">Charles McCarthy</label>
        <label class="btn btn-secondary mm cvlogs" name="file://cvce009077/Logs" title="\\cvce009077\Logs">Colin Falkinburg</label>
        <label class="btn btn-secondary mm cvlogs" name="file://bsamuel/Logs" title="\\bsamuel\logs">Bryan Samuel</label>
        <label class="btn btn-secondary mm cvlogs" name="file://bmarrow/Logs" title="\\bmarrow\logs">Bernard Marrow</label>
        <label class="btn btn-secondary mm cvlogs" name="file://CVCE009073/Logs" title="\\CVCE009073\logs">Richard Cauterucci</label>
        <!--v MSG Members -->
        <button class="btn btn-teams btn-lg btn-msg" id="msg">MSG
        </button>
        <button class="btn btn-secondary msg cvlogs" name="file://tobermeit/Logs" title="\\tobermeit\logs">Tamara Obermeit</button>
        <button class="btn btn-secondary msg cvlogs" name="file://Vvovchik10/cv-logs" title="\\Vvovchik10\cv-logs">Vlad Vovchik</button>
        <button class="btn btn-secondary msg cvlogs" name="file://tflanagan800/logs" title="\\tflanagan800\logs\">Thomas Flanagan</button>
        <button class="btn btn-secondary msg cvlogs" name="file://mhintenach-lt/Logs" title="\\mhintenach-lt\Logs ">Michael Hintenach</button>
        <!-- Server Members -->
        <button class="btn btn-teams btn-lg btn-server" id="server">Server
        </button>
        <button class="btn btn-secondary server disabled" name="file://tobermeit/Logs" title="\\khayes800\logs">Kenneth Hayes</button>
        <button class="btn btn-secondary server cvlogs" name="file://kbabeu/Logs" title="\\kbabeu\logs">Kevin Babeu</button>
        <button class="btn btn-secondary server disabled" name="file://tobermeit/Logs" title="null">Michael Peterson</button>
        <button class="btn btn-secondary server disabled" name="file://tobermeit/Logs" title="null">Johnathan Cseh</button>
        <button class="btn btn-secondary server disabled" name="file://tobermeit/Logs" title="null">Joe Pettignano</button>
        <button class="btn btn-secondary server cvlogs" name="file://scottsheldon/Logs" title="\\scottsheldon\mc4s">Scott Sheldon</button>
        <!-- Unix Members -->
        <button class="btn btn-teams btn-lg btn-unix" id="unix">Unix
        </button>
        <button class="btn btn-secondary unix cvlogs" name="file://THADLEY800/Logs" title="\\thadley800\Logs">Thomas Hadley</button>
        <button class="btn btn-secondary unix cvlogs" name="file://Rtrione800g2/cvlogs" title="\\Rtrione800g2\cvlogs">Rick Trione</button>
        <button class="btn btn-secondary unix cvlogs" name="file://MREDDY800/Mahender_Logs" title="\\MREDDY800\Mahender_Logs">Mahender Reddy</button>
        <button class="btn btn-secondary unix disabled" name="file://v/Logs" title="\\thadley800\Logs">Kerwin Rodgers</button>
    </div>
</div>