<div class="row">
    <!-- Commvault Information: -->
    <div class="well col-sm-3">
        <h4 align="center">
            Commvault Information:
        </h4>
        <ul>
            <li>
                <a href="http://www.commvault.com" target="_blank">
                    Commvault.com
                </a>
            </li>
            <li>
                <a href="https://commvault.csod.com/client/commvault/default.aspx" target="_blank">
                    <i class="fas fa-graduation-cap">
                    </i>
                    Learning@Commvault
                </a>
            </li>
            <li>
                <a href="http://brand.commvault.com/" target="_blank">
                    Commvault Brand Place
                </a>
            </li>

            <li>
                <a href="https://portal.adp.com/public/index.htm" target="_blank">
                    ADP Portal
                </a>
            </li>
            <li>
                <a href="https://mail.commvault.com/owa" target="_blank">
                    <i class="far fa-envelope">
                    </i>
                    CommVault Webmail (OWA)
                </a>
            </li>
            <li>
                <a href="https://ma.commvault.com/Account/Login?ReturnUrl=%2F" target="_blank">
                    Maintenance Advantage
                </a>
            </li>
        </ul>
    </div>

    <!-- Customer Engineering: -->
    <div class="well col-sm-3">
        <h4 align="center">
            Customer Engineering:
        </h4>
        <ul>

            <li>
                <a href="https://alexandria.commvault.com/" target="_blank">
                    <i class="fas fa-search">
                    </i>
                    Alexandria
                </a>
            </li>
            <li>
                <a href="https://commvault.webex.com/" target="_blank">
                    Commvault WebEx
                </a>
            </li>
            <li>
                <a href="https://commvault.zoom.us/meeting" target="_blank">
                    ZOOM
                </a>
                -
                <a href="http://services.commvault.com/assist" target="_blank">
                    CVLT.net
                </a>
            </li>
            <li>
                <a href="https://crm.commvault.com/" target="_blank">
                    Microsoft Dynamics CRM
                </a>
                <!--  - 
                                <a href="https://co13611.purelyhr.com/?ct=1" target="_blank">TimeOff</a> -->
            </li>
            <li>
                <a href="https://cloud.commvault.com/" target="_blank">
                    Cloud
                </a>
                -
                <a href="https://drive.commvault.com/" target="_blank">
                    Cloud Drive
                </a>
            </li>
            <li>
                <a href="http://sso.forum.commvault.com/forums/default.aspx" target="_blank">
                    Customer Support Forums
                </a>
            </li>
        </ul>
    </div>
    <!-- Connect Customer Support: -->
    <div class="well col-sm-3">
        <h4>
            Connect Support:
        </h4>
        <ul>
            <li>
                <a href="https://connect.commvault.com/community/support" target="_blank">
                    Customer Support
                </a>
            </li>
            <li>
                <a href="https://connect.commvault.com/community/support/client-focus/pages/client" target="_blank">
                    Client
                </a>
            </li>
            <li>
                <a href="https://connect.commvault.com/community/support/mm-focus/pages/media-management"
                    target="_blank">
                    Media Management
                </a>
            </li>
            <li>
                <a href="https://connect.commvault.com/community/support/messaging-focus/pages/messaging"
                    target="_blank">
                    Messaging
                </a>
            </li>
            <li>
                <a href="https://connect.commvault.com/community/support/server-focus/pages/server" target="_blank">
                    Server
                </a>
            </li>
            <li>
                <a href="https://connect.commvault.com/community/support/unixdb-focus/pages/unixdb" target="_blank">
                    Unix / DB
                </a>
            </li>

        </ul>
    </div>
    <!-- Tools Information: -->
    <div class="col-sm-3">
        <h4>
            Frequently Used Tools
        </h4>
        <ul>
            <li>
                <a href="http://documentation.commvault.com/commvault/v11/article?p=7596.htm" target="_blank">
                    Checking Network Performance
                </a>
            </li>
            <li>
                <a href="http://lg.commvault.com/" target="_blank">
                    License Generator V10+
                </a>
            </li>
            <li>
                <a href="file://gp.cv.commvault.com/dfs/Licensing" target="_blank">
                    License Files
                </a>
            </li>
            <li>
                <a href="https://engweb.commvault.com/releasemanagement/targets" target="_blank">
                    Service Pack Timelines
                </a>
            </li>
            <li>
                <a href="https://ce-staging.commvault.com/" target="_blank">
                    Staging Servers
                </a>
            </li>
            <li>
                <a href="http://www.matisse.net/bitcalc/?input_amount=&input_units=bytes¬ation=legacy" target="_blank">
                    Bit Calculator
                </a>
                -
                <a href="http://www.iometer.org/doc/downloads.html" target="_blank">
                    I/O meter
                </a>
            </li>
            <li>
                <a href="https://www.virten.net/vmware/esxi-release-build-number-history/#esxi6.7" target="_blank">
                    ESXi Release and Build History
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <!-- Facilites -->
    <div class="well col-sm-3">
        <h4 align="center">
            Tinton Falls Information:
        </h4>
        <ul>
            <li>
                <a href="mailto:facilities@commvault.com" target="_blank">
                    <i class="far fa-envelope">
                    </i>
                    Facilities
                </a>
            </li>
            <li>
                <a href="https://engweb.commvault.com/search/?sourceType=CampusFeedback" target="_blank">
                    Campus Feedback
                </a>
            </li>
            <li>
                <a href="https://commvault.teamexos.com/" target="_blank">
                    EXOS | Fitness Center
                </a>
            </li>
            <li>
                <a href="http://bytecafe/menus.php?menu=weeklymenu" role="button" target="_blank">
                    Byte Cafe
                </a>
            </li>
            <li>
                <a href="http://engweb.commvault.com/OfficeMap/default.asp" role="button" target="_blank"
                    title="CommVault, Tinton Falls, NJ">
                    Office Map
                </a>
            </li>
        </ul>
    </div>
    <!-- Development Information: -->
    <div class="col-sm-3">
        <h4 align="center">
            Development Information:
        </h4>
        <ul>
            <li>
                <a href="http://engweb/" target="_blank">
                    EngWeb
                </a>
                -
                <a href="http://engweb/search/" target="_blank">
                    EngWeb Search
                </a>
            </li>
            <li>
                <a href="https://engweb.commvault.com/engtools/defect" target="_blank">
                    New MR Request
                </a>
            </li>

            <li>
                <a href="https://engweb.commvault.com/search/?sourcetype=AdditionalSettings" target="_blank">
                    Additional Settings
                </a>
                -
                <a href="http://updatecenter.commvault.com/" target="_blank">
                    UpdateCenter
                </a>
            </li>
            <li>
                <a href="http://dbexplorer.commvault.com/11/1/1/" target="_blank">
                    DB Explorer
                </a>
            </li>
            <li>
                <a href="https://engweb.commvault.com/releasemanagement/targets" target="_blank">
                    Service Pack Timelines
                </a>
            </li>
            <li>
                <a href="https://engweb.commvault.com/atozlist/" target="_blank">
                    A to Z Feature List
                </a>
            </li>
        </ul>
    </div>
    <!-- Connect Support Links: -->
    <div class="well col-sm-3">
        <h4 align="center">
            Connect Resources:
        </h4>
        <ul>
            <li>
                <a href="https://connect.commvault.com/community/support/pages/ideas" target="_blank">
                    <i class="far fa-lightbulb">
                    </i>
                    Ideas
                </a>
                -
                <a href="https://connect.commvault.com/community/support/pages/support-expertise-enablement"
                    target="_blank">
                    SET Enablement
                </a>
            </li>
            <li>
                <a href="https://connect.commvault.com/docs/DOC-25700" target="_blank">
                    Onboarding
                </a>
                -
                <a href="https://connect.commvault.com/docs/DOC-3231" target="_blank">
                    Tools & Resources
                </a>
            </li>
            <li>
                <a href="https://connect.commvault.com/docs/DOC-8447" target="_blank">
                    SOP's
                </a>
                -
                <a href="https://connect.commvault.com/docs/DOC-53953" target="_blank">
                    Customer Support HyperScale Resources
                </a>
            </li>
        </ul>
    </div>
    <!-- Third-Party Sites -->
    <div class="col-sm-3">
        <!-- TODO  -->
        <h4 align="center">
            Third-Party Sites:
        </h4>
        <ul>
            <li>
                <a href="http://www.google.com/" target="_blank">
                    <i class="fab fa-google">
                    </i>
                    Google
                </a>
                -
                <a href="https://translate.google.com/#" target="_blank">
                    Google Translate
                </a>
            </li>
            <li>
                <a href="http://www.bing.com/" target="_blank">
                    <i class="fab fa-microsoft">
                    </i>
                    Bing
                </a>
                -
                <a href="https://www.bing.com/translator" target="_blank">
                    Bing Microsoft Translator
                </a>
            </li>
            <li>
                <a href="https://docs.microsoft.com/en-us/sysinternals/" target="_blank">
                    Sysinternals
                </a>
            </li>
            <li>
                <a href="http://www.onlineconversion.com/unix_time.htm" target="_blank">
                    Unix Time converter
                </a>
            </li>
            <li>
                <a href="https://www.worldtimebuddy.com/" target="_blank">
                    World Time Buddy
                </a>
            </li>
            <li>
                <a href="https://time.is/" target="_blank">
                    Time.is
                </a>
            </li>
        </ul>
    </div>
</div>