<div class="row">
    <div class="col-sm-3">
        <ul>
            <h6><strong>{{labSys.names[0].name}}</strong></h6>
            <li ng-repeat="names in labSys.v11 ">
                <a href="{{labSys.v11[$index].value}}" target="_blank">{{labSys.v11[$index].name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
            <ul>
                    <h6><strong>{{labSys.names[1].name}}</strong></h6>
                    <li ng-repeat="names in labSys.v10 " >
                        <a href="{{labSys.v10[$index].value}}" target="_blank">{{labSys.v10[$index].name}}</a>
                    </li>
                </ul>
    </div>
    <div class="col-sm-3">
            <ul>
                    <h6><strong>{{labSys.names[2].name}}</strong></h6>
                    <li ng-repeat="names in labSys.v90 ">
                        <a href="{{labSys.v90[$index].value}}" target="_blank">{{labSys.v90[$index].name}}</a>
                    </li>
                </ul>
    </div>
</div>
<hr>
<h3>Note:  This is subject to change as there is a Current restructuring of the US Support Labs </h3>
<hr>
<h4>Any Labs you want added??? Please use the feedback to give me the information </h4>