<!-- Documentation Navbar row -->
<div class="btn-group rounded " style="margin-bottom: 10px; width: 100%;">
    <a class="btn cvbutton docNav" href="http://documentation.commvault.com/commvault" role="button" target="_blank">
        Documentation
    </a>
    <a class="btn btn-secondary docNav" href="http://documentation.commvault.com/commvault/v11/article" role="button"
        target="_blank">
        Simpana v11
    </a>
    <a class="btn btn-secondary docNav" href="http://documentation.commvault.com/commvault/v10/article" role="button"
        target="_blank">
        Simpana v10
    </a>
    <a class="btn btn-secondary docNav" href="http://documentation.commvault.com/commvault/release_9_0_0/books_online_1/default.htm"
        role="button" target="_blank">
        Simpana v9
    </a>
    <a class="btn btn-secondary docNav" href="http://internaldocs/" role="button" target="_blank">
        Internal Docs | OEM
    </a>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="btn-group rounded" id="subNav" >
            <a class="btn btn-inverted btnNav" href="/mc4" role="button">
                Main
            </a>
            <a class="btn btn-inverted btnNav" href="/servicepack" role="button">
                Service Pack Docs
            </a>
            <a class="btn btn-inverted btnNav" href="/labsystems" role="button">
                Lab Systems
            </a>
        </div>
    </div>
    <div class="col-sm-3"></div>

</div>
<hr>
<br>